[user]
	name = Hannah Barudin
	email = hbarudin@gmail.com
[alias]
  c = commit
  co = checkout
  ciff = diff --cached
  b = branch
  st = status
  s = status
  list = log --pretty='%n%C(white)%h%C(green) %ad %C(yellow)%aN  %C(white)%s %C(red)%d' --date=short --name-only -5
  listx = log --pretty='%n%C(white)%h%C(green) %ad %C(yellow)%aN  %C(white)%s %C(red)%d' --date=short --name-only
  l = log --pretty='%C(white)%h%C(green) %ad %C(yellow)%aN  %C(white)%s %C(red)%d' --date=short -10
  g = "log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative"
  files = "show  --name-only --pretty=format:''"
[color]
  ui = auto
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[push]
  default = simple
[core]
	editor = code --wait
[grep]
  lineNumber = true